<robot name="coco_one">
  <link name="base_link_ground">
    <visual>
      <origin rpy="0.0 0 0.0" xyz="-0.35 0.45 0"/>
      <geometry>
        <mesh filename="https://raw.githubusercontent.com/cocorobotics/coco_model/master/coco_one_simple.stl" scale="0.001 0.001 0.001"/>
      </geometry>
    </visual>
  </link>
</robot>
